*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
    scroll-behavior: smooth;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
textarea { 
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body, html{

    background-color: #080808;

    color: #ffffff;

}
body{
    margin: 80px 0px 0px 0px;
    /* overflow-x: hidden; */
    padding: 0px;
    position: static;
    width: 100%;
}
/* adjust scrollbar */

::-webkit-scrollbar-track{
    position: absolute;
    background: #2e3338;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background: #202225;
    border-radius: 5px;
}



/* --------------------------------HEADER */
header{

}

.header__menu{
    background-color: #111;
    display: flex;
    border-bottom: 2px solid rgba(51,51,51,.25);
    font-size: 14px !important;
    font-family: bold;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    width: 100%;
    line-height: normal;
    z-index: 1000000;
    text-align: left;
}

.header__menu__leftContent{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 36px;
}
.header__menu__leftContent__logoRiot{
    & svg, & a{
        fill: #f9f9f9;
        &:hover{
            fill: #eb0029;
        }
    }
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.header__menu__centerContent{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-start;
    
}

.header__menu__centerContent__logoVerse{
    height: 80px;
    margin-left: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    & a{
        min-width: 38px;
        display: block;
    }
    & svg{
        pointer-events: none;
        display: block;
        max-height: 26px;
    }
}
.header__menu__centerContent__title{
    text-decoration: none;
    font-size: 18px;
    color: #f9f9f9;
    margin-left: 0;
    padding-left: 4px;
    padding-top: 0;
    border: none;
    word-break: keep-all;
    font-weight: 600;
    letter-spacing: 2px;
}

.header__menu__centerContent__navigation{
    display: flex;
    opacity: 1;
    margin-left: 18px;
    /* transition: opacity ease .3s; */
    width: 100%;
    height: 80px;


    & li{
        &::after{
            content: "";
            position: absolute;
            bottom: 5px;
            border-radius: 12px;
            left: 0;
            width: 100%;
            height: 5px;
            background-color: #0bc4e2;
            /* transition: all .3s ease; */
            display: none;
        }
        display: inline-flex;
        position: relative;
        height: 80px;
        cursor: pointer;
        & a{
            display: flex;
            margin: auto;
            /* padding: 0; */
            flex-direction: column;
            justify-content: center;
            height: 66px;
            color: #f9f9f9;
            font-size: 13px;
            font-weight: 600;
            line-height: 120%;
            letter-spacing: .08em;
            overflow: hidden;
            text-transform: uppercase;
            /* transition: color 1s cubic-bezier(0.06, 0.81, 0, 0.98),border-color .5s cubic-bezier(0.06, 0.81, 0, 0.98); */
            & p{
                padding: 7.5px 16px;
                text-align: center;
                margin-right: 4px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 5px;
                /* transition: all .3s ease; */

            }
        
        }
        &:hover p{
            background: rgba(128,128,128,.3);
            /* transition: all .3s ease; */
            border-radius: 6.4px;
        }
        &:hover::after{
            display: flex;
            /* transition: all .3s ease; */

        }
        &:hover svg{
            & path{
                fill: #f9f9f9;

            }
        }
    }
}

.header__menu__rightContent{
    display: flex;
    padding-right: 32px;
}
.header__menu__rightContent__localSwitcher{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    & .icon{
        display: block;
        width: 32px;
        height: 32px;
        cursor: pointer;
        &:hover a{
            background: rgba(128,128,128,.2);
        }
        & a{
            width: 32px;
            height: 32px;
            position: absolute;
            padding: 0;
            border-radius: 6.4px;
            & svg{
                position: absolute;
                top: 8px;
                left: 8px;
                margin: auto;
                width: 16px;
                height: 16px;
            }
        }
    }
}

.header__menu__rightContent__accountContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__menu__rightContent__accountContainer__loginBtn{
    display: inline-block;
    padding: 0 6px;
    & a{
        background: linear-gradient(315deg, rgb(11, 196, 226) 0%, rgb(44, 140, 194) 100%);
        text-align: center;
        line-height: 16px;
        position: relative;
        z-index: 0;
        text-overflow: ellipsis;
        height: 32px;
        border-radius: 12px;
        padding: 8px 16px;
        color: #111111;


        cursor: pointer;
        display: inline-block;
        transition: color 1s cubic-bezier(0.06, 0.81, 0, 0.98);
        vertical-align: middle;
        font-size: 13px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: .08em;
    }
    &:hover a{
        background: rgb(11, 196, 226);
    }
}
.header__banner{

}

.header__banner__vidContainer{
    position: relative;
    min-height: 31.25rem;
    padding: 3.75rem;
}
.header__banner__vidContainer__backgroundWrapper{
    overflow: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 100%;
    background: rgb(7, 18, 26);
}
.header__banner__vidContainer__backgroundWrapper__vidWrapper{
    width: 100%;
    height: 100%;
    background: rgb(7, 18, 26);
    & video{
        object-fit: cover;
        object-position: center top;
        filter: blur(10px);

    }
}

.header__banner__vidContainer__foreGroundWrapper{
    position: relative;
    z-index: 1;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    max-width: 105rem;
    height: 55vh;
    min-height: 31.25rem;
    margin: 0px auto;
}
.header__banner__vidContainer__foreGroundWrapper__foreGroundVid{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgb(7, 18, 26);
}
.header__banner__vidContainer__foreGroundWrapper__foreGroundVid__Wrapper{
    width: 100%;
    height: 100%;
    display: block;
    & video{
        position: relative;
        z-index: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
}
.header__banner__vidContainer__foreGroundWrapper__Container{
    position: absolute;
    inset: 1px;
    pointer-events: none;
    & .rectangle1{
        height: 522px;
        left: 8px;
        top: -12px;
        width: calc(100% - 15px);
        position: absolute;
        display: block;
        border: 1px solid #ffffff3f;
        clip-path: polygon(0 0, 95% 0, 100% 10%, 100% 100%, 0 100%);
        position: absolute;
        display: block;
    }
    & .rectangle2{

    }
}
.header__banner__vidContainer__foreGroundWrapper__title{
    width: 100%;
}
.header__banner__vidContainer__foreGroundWrapper__title__top{
    width: 100%;
    margin-top: 0.625rem;
    text-align: center;
}
.header__banner__vidContainer__foreGroundWrapper__title__top__logoWrapper{
    display: inline-block;
    position: relative;
    width: 40vw;
    height: calc(17.6333vw);
    max-width: 37.5rem;
    max-height: 16.5312rem;
    & img{
        position: absolute;
        left: 0px;
        top: 0px;
        display: block;
        width: 100%;
        height: 100%;
        margin: 0px;
        user-drag: none;  
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        animation: 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s 1 normal backwards running lbWRkT;
    }
}
.header__banner__vidContainer__foreGroundWrapper__title__bottom{
    width: 100%;
    margin-top: 0.625rem;
    text-align: center;
    & .loginBtn{
        position: relative;
        display: inline-block;
        min-width: 180px;
        height: 56px;
        padding: 0px;
        margin: 5px;
        text-transform: uppercase;
        


        font-size: 15px;
        font-weight: bold;
        letter-spacing: 1px;
        padding: 5px 15px; 
        background: #1e2328;
        color: #cdbe91;
        box-shadow: inset 0 0 2px #000000;
        border-image: linear-gradient(to bottom, #c8aa6d, #7a5c29);
        border-image-slice: 1;
        border-width: 2px;
        &:hover{
            text-shadow: 0 0 5px #ffffff80;
            box-shadow: 0 0 8px 0 #ffffff50;
            background: linear-gradient(to bottom, #1e2328, #433d2b);
            cursor: pointer;
            transition: 0.1s;
        }
        &:active{
            text-shadow: none;
            box-shadow: none;
            color: #cdbe9130;
        }
        
    }
    
}
/* @keyframes btnEffect{
    0%{
        clip-path: polygon(100% 100%, 100% 100%, 100% 100%);
    }
    100%{
        clip-path: polygon(100% 100%, -200% 100%, 100% -200%);
    }
} */
/* ------------------------------HEADER END */

/* ------------------------------CONTENT START */
.content{
    /* position: relative; */

}
.content__latest{
    /* clear: both; */
    position: relative;

}
.content__latest__latestBackground{
    background-image: url(../assets/img/latestBg.jpg);
    background-position: 50%;
    background-size: cover;
    opacity: .2;
    position: absolute;
    height: 500px;
    top: 0px;
    right: 0;
    bottom: 70%;
    left: 0;
    opacity: .15;
    & .backgroundGradient{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #0a0a0c;
        background-image: -webkit-linear-gradient(top,#0a0a0c,rgba(0,0,0,0),#0a0a0c);
        background-image: linear-gradient(180deg,#0a0a0c,rgba(0,0,0,0),#0a0a0c);
        background-color: rgba(0,0,0,0);
    }
}
.content__latest__majorHeader{
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    position: relative;
    text-align: center;
    top: 120px;
    & .iconLatest{
        /* left: -webkit-calc(50% - 16px); */
        left: calc(50% - 16px);
        /* -webkit-transition: opacity .6s ease; */
        -moz-transition: opacity ease .6s;
        transition: opacity .6s ease;
        max-width: 32px;
        max-height: 32px;
        /* opacity: 0; */
        position: absolute;
        top: -45px;
        user-drag: none;  
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
    & h1{
        /* font-family: 'PlayfairDisplay', sans-serif; */
        color: #c4b998;
        font-weight: 100;
        text-transform: uppercase;
        letter-spacing: 3px;
        & img{
            user-drag: none;  
            user-select: none;
            -moz-user-select: none;
            -webkit-user-drag: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }
        & .lineLeft{
            padding-left: 70px;
            vertical-align: middle;
            width: 30%;

            -moz-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            transform: rotate(180deg);
            
        }
        & .diamondLeft{
            position: relative;
            background: #373121;
            font-size: 0;
            z-index: 100;
            &::before{
                height: 5px;
                width: 5px;
                position: absolute;
                top: -12px;
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transform: rotate(45deg);
                border: 1px solid #373121;
                content: "\25C7";
                font-size: 0;
                left: -80px;
            }
            & .title{
                -webkit-transition: .6s;
                -moz-transition: .6s;
                transition: .6s;
                -webkit-transition-delay: .1s;
                -moz-transition-delay: .1s;
                transition-delay: .1s;
                color: #c4b998;
                font-size: 24px;
                letter-spacing: 7px;
                opacity: 0;
                position: relative;
                text-indent: 8px;
                text-transform: uppercase;
                top: 4px;
                & span{

                }
            }
        }
        & .diamondRight{
            position: relative;
            background: #373121;
            font-size: 0;
            z-index: 100;
            &::before{
                position: absolute;
                left: 61px;

                height: 5px;
                width: 5px;
                position: absolute;
                top: -12px;
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transform: rotate(45deg);
                border: 1px solid #373121;
                content: "\25C7";
                font-size: 0;
            }
        }
        & .lineRight{
            padding-left: 70px;
            vertical-align: middle;
            width: 30%;
        }
    }
}
.content__gridContainer{
    margin: 160px auto;
    max-width: 1280px;
}
.content__gridContainer__grid{
    margin: -.5em;
    & .itemGridSmall{
        width: calc(25% - 1em);
    }
    
    & .finalLi::after{
        content: "";
        display: table;
        clear: both;
    }
    & .allGridItem{
        -webkit-transition-property: -webkit-transform,z-index,border;
        -moz-transition-property: -moz-transform,z-index,border;
        transition-property: transform,z-index,border;
        -webkit-transition-timing-function: ease,linear,ease;
        -moz-transition-timing-function: ease,linear,ease;
        transition-timing-function: ease,linear,ease;
        -webkit-transition-duration: .3s,.3s,.3s;
        -moz-transition-duration: .3s,.3s,.3s;
        transition-duration: .3s,.3s,.3s;
        background-color: #101217;
        border: 1px solid #32281f;
        box-shadow: 0 0 16px 14px rgba(0,0,0,.4);
        /* color: #c4b998; */
        cursor: pointer;
        display: inline;
        height: 340px;
        margin: .5em;
        overflow: hidden;
        position: relative;
        z-index: 1;

        &:hover{
            -webkit-transition-timing-function: ease,step-start;
            -moz-transition-timing-function: ease,step-start;
            transition-timing-function: ease,step-start;
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -ms-transform: scale(1.1);
            -o-transform: scale(1.1);
            transform: scale(1.1);
            border: 1px solid #927345;
            z-index: 15!important;
        }
        &:hover .itemButton{
            border-top: 1px solid #7e633b !important;
            height: 54px !important;
        }

        & .itemContent{
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: end;
            -moz-box-pack: end;
            box-pack: end;
            -webkit-justify-content: flex-end;
            -moz-justify-content: flex-end;
            -ms-justify-content: flex-end;
            -o-justify-content: flex-end;
            justify-content: flex-end;
            -ms-flex-pack: end;
            -webkit-box-orient: vertical;
            -moz-box-orient: vertical;
            box-orient: vertical;
            -webkit-box-direction: normal;
            -moz-box-direction: normal;
            box-direction: normal;
            -webkit-flex-direction: column;
            -moz-flex-direction: column;
            flex-direction: column;
            -ms-flex-direction: column;
            background-color: #101217;
            height: 100%;
            position: relative;
            width: 100%;
            & .itemBackground{
                background-position: 32.2917% 50.9259%;
                opacity: 1;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 40px;
                left: 0;

                -webkit-transition: .3s;
                -moz-transition: .3s;
                transition: .3s;
                -webkit-transition-delay: .2s;
                -moz-transition-delay: .2s;
                transition-delay: .2s;

                background-attachment: local;
                background-color: #0a0a0c;
                background-repeat: no-repeat;
                background-size: cover;
                /* transition: opacity .4s ease; */
                width: 100%;
            }
            & .itemBottom{
                background-color: #101217;
                z-index: 5;
                & .itemButton{
                    font-weight: 500;
                    font-size: 11px;
                    -webkit-transition: .4s ease;
                    -moz-transition: .4s ease;
                    transition: .4s ease;
                    background-color: #14181d;
                    border-top: 1px solid rgba(0,0,0,0);
                    color: #937341;
                    height: 0;
                    letter-spacing: .3em;
                    line-height: 54px;
                    overflow: hidden;
                    text-align: center;
                    text-transform: uppercase;
                    z-index: 3;
                    
                    & .arrow{
                        width: 25px;
                        height: 12.5px;
                        position: relative;
                        display: inline-block;
                        cursor: pointer;
                        line-height: 1;
                        top: 2px;
                        & .hoverArrow, & .restArrow{
                            -webkit-transition: .44s;
                            -moz-transition: .44s;
                            transition: .44s;
                            opacity: 0;
                            position: absolute;
                            top: 0;
                            left: 0;
                            -webkit-transform: translateX(-130%);
                            -moz-transform: translateX(-130%);
                            -ms-transform: translateX(-130%);
                            -o-transform: translateX(-130%);
                            transform: translateX(-130%);
                        }
                        & .restArrow{
                            left: 0;
                            -webkit-transition-delay: .22s;
                            -moz-transition-delay: .22s;
                            transition-delay: .22s;
                            opacity: 1;
                            -webkit-transform: translateX(50%);
                            -moz-transform: translateX(50%);
                            -ms-transform: translateX(50%);
                            -o-transform: translateX(50%);
                            transform: translateX(50%);
                        }
                    }
                    &:hover .hoverArrow{
                        -webkit-transform: translateX(50%);
                        -moz-transform: translateX(50%);
                        -ms-transform: translateX(50%);
                        -o-transform: translateX(50%);
                        transform: translateX(50%);
                        -webkit-transition-delay: .22s;
                        -moz-transition-delay: .22s;
                        transition-delay: .22s;
                        opacity: 1;
                    }
                    &:hover .restArrow{
                        -webkit-transform: translateX(230%);
                        -moz-transform: translateX(230%);
                        -ms-transform: translateX(230%);
                        -o-transform: translateX(230%);
                        transform: translateX(230%);
                        -webkit-transition-delay: 0s;
                        -moz-transition-delay: 0s;
                        transition-delay: 0s;
                        opacity: 0;
                    }
                    & .btnText{

                    }

                }
                & .itemTitles{
                    height: 80px;
                    padding: 29px 12px;

                    background-color: #101217;
                    border-top: 1px solid #7e633b;
                    position: relative;
                    text-align: center;
                    z-index: 10;
                    & h3{
                        padding-bottom: 3px;
                        font-weight: 700;
                        font-size: 12px;
                        color: #937341!important;
                        letter-spacing: 2px;
                        text-align: center;
                        text-transform: uppercase;
                    }
                    & h1{
                        font-weight: 500;
                        font-size: 14px;
                        color: #c4b998;
                        letter-spacing: 2px;
                        text-align: center;
                        text-transform: uppercase;
                    }

                    & .itemIcon{
                        position: absolute;
                        top: -21px;
                        right: calc(50% - 21px);
                        height: 42px;
                        width: 42px;
    
                        display: -webkit-flex;
                        display: -moz-flex;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-align: center;
                        -moz-box-align: center;
                        box-align: center;
                        -webkit-align-items: center;
                        -moz-align-items: center;
                        -ms-align-items: center;
                        -o-align-items: center;
                        align-items: center;
                        -ms-flex-align: center;
                        -webkit-box-pack: center;
                        -moz-box-pack: center;
                        box-pack: center;
                        -webkit-justify-content: center;
                        -moz-justify-content: center;
                        -ms-justify-content: center;
                        -o-justify-content: center;
                        justify-content: center;
                        -ms-flex-pack: center;
                        background-color: #101217;
                        border-radius: 50%;
                        & img{
                            max-height: 21px;
                            max-width: 21px;
                        }
                        &::after{
                            position: absolute;
                            top: -2px;
                            right: -2px;
                            bottom: -2px;
                            left: -2px;
                            background-image: -webkit-linear-gradient(top,#3e3310,#806734,#c6b98b,#806734,#3e3310);
                            background-image: linear-gradient(180deg,#3e3310,#806734,#c6b98b,#806734,#3e3310);
                            border-radius: 50%;
                            box-shadow: 0 0 20px 12px rgba(0,0,0,.2);
                            content: "";
                            z-index: -1;
                        }
                    }
                }

                
            }
        }

    }
    & .itemGridBig{
        height: -webkit-calc(680px + 1em);
        height: calc(680px + 1em) ;
        width: -webkit-calc(50% - 1em);
        width: calc(50% - 1em);
        border: 1px solid #32281f;
    }
}
.content__champRepresent__champRepresentBackground{
    background: url(../assets/img/champRepresentBg.jpg);
    background-position: 50%;
    background-size: cover;
    opacity: .2;
    position: absolute;
    top: -250px;
    right: 0;
    bottom: 70%;
    left: 0;
    & .gradient{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #0a0a0c;
        background-image: -webkit-linear-gradient(top,#0a0a0c,rgba(0,0,0,0),#0a0a0c);
        background-image: linear-gradient(180deg,#0a0a0c,rgba(0,0,0,0),#0a0a0c);
        background-color: rgba(0,0,0,0);
    }
}
.content__champRepresent{
    clear: both;
    padding: 13px 0 25px;
    position: relative;
}
.content__champRepresent__majorHeader{
    font-weight: 400;
    position: relative;
    text-align: center;
    top: -31px;
    & img{
        left: calc(50% - 16px);
        max-width: 32px;
        max-height: 32px;
        position: absolute;
        top: -40px;
    }
    & h1{
        color: #c4b998;
        font-weight: 100;
        text-transform: uppercase;
        letter-spacing: 3px;
    }
}
.content__champRepresent__champBanner{

}
.content__champRepresent__champBanner__Wrapper{
    margin: 20px 0 10px;
    position: relative;
    & .framer{
        position: absolute;
        top: -140px;
        right: 5.5%;
        bottom: 10px;
        left: 5.5%;
        border-bottom: 1px solid #373121;
        pointer-events: none;
        z-index: 2;
        & .topRightHorLine{
            position: absolute;
            top: 70px;
            right: 0;
            width: calc(50% - 240px);
            background: #373121;
            height: 1px;
            &::before{
                height: 5px;
                width: 5px;
                position: absolute;
                top: -2px;
                left: -5px;
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transform: rotate(45deg);
                border: 1px solid #373121;
                content: "\25C7";
                font-size: 0;
            }
        }
        & .topLeftHorLine{
            position: absolute;
            top: 70px;
            left: 0;
            width: calc(50% - 240px);
            background: #373121;
            height: 1px;
            &::before{
                position: absolute;
                top: auto;
                right: -5px;
                bottom: -2px;
                left: auto;
                height: 5px;
                width: 5px;
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transform: rotate(45deg);
                border: 1px solid #373121;
                content: "\25C7";
                font-size: 0;
            }
        }
        & .topRightVerLine{
            position: absolute;
            top: 70px;
            right: 0;
            height: calc(50% - 205px);
            background: #373121;
            width: 1px;
            &::before{
                height: 5px;
                width: 5px;
                position: absolute;
                bottom: -5px;
                left: -2px;
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transform: rotate(45deg);
                border: 1px solid #373121;
                content: "\25C7";
                font-size: 0;
            }
        }
        & .topLeftVerLine{
            position: absolute;
            top: 70px;
            left: 0;
            height: calc(50% - 205px);
            background: #373121;
            width: 1px;
            &::before{
                height: 5px;
                width: 5px;
                position: absolute;
                bottom: -5px;
                left: -2px;
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transform: rotate(45deg);
                border: 1px solid #373121;
                content: "\25C7";
                font-size: 0;
            }
        }
        & .botRightVerLine{
            position: absolute;
            right: 0;
            bottom: 0;
            height: calc(50% - 165px);
            background: #373121;
            width: 1px;
            &::before{
                height: 5px;
                width: 5px;
                position: absolute;
                top: -5px;
                left: -2px;
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transform: rotate(45deg);
                border: 1px solid #373121;
                content: "\25C7";
                font-size: 0;
            }
        }
        & .botLeftVerLine{
            position: absolute;
            bottom: 0;
            left: 0;
            height: calc(50% - 165px);
            background: #373121;
            width: 1px;
            &::before{
                height: 5px;
                width: 5px;
                position: absolute;
                top: -5px;
                left: -2px;
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transform: rotate(45deg);
                border: 1px solid #373121;
                content: "\25C7";
                font-size: 0;
            }
        }
    }
    & .featured{
        overflow: visible;
        overflow-x: hidden;
        overflow-y: visible;
        margin: 0 auto;
        position: relative;
        /* overflow: hidden; */
        z-index: 1;
        & .bannerContainer{
            position: relative;
            width: 100%;
            height: 100%;
            z-index: 1;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            align-items: center;
            justify-content: center;
            -webkit-transition-property: -webkit-transform;
            -moz-transition-property: -moz-transform;
            -o-transition-property: -o-transform;
            -ms-transition-property: -ms-transform;
            transition-property: transform;
            /* -webkit-box-sizing: content-box; */
            /* -moz-box-sizing: content-box; */
            /* box-sizing: content-box; */
            & .champBanner{
                /* margin-right: 117px; */
                width: auto;
                /* -webkit-flex-shrink: 0; */
                -ms-flex: 0 0 auto;
                flex-shrink: 0;
                /* width: 100%; */
                height: 100%;
                position: relative;
                &:hover .contentItemWrap .itemBgContainer{
                    -webkit-transform: scale(1.02);
                    -moz-transform: scale(1.02);
                    -ms-transform: scale(1.02);
                    -o-transform: scale(1.02);
                    transform: scale(1.02);
                }
                & .contentItemWrap{
                    overflow: hidden;
                    & .itemBgContainer{
                        /* background-image: url(../assets/img/rammus.jp); */
                        background-position: 64.1152% 29.1492%;
                        opacity: 1;
                        -webkit-animation: imageSetIn .8s;
                        -moz-animation: imageSetIn .8s;
                        animation: imageSetIn .8s;
                        -webkit-transform: scale(1);
                        -moz-transform: scale(1);
                        -ms-transform: scale(1);
                        -o-transform: scale(1);
                        transform: scale(1);
                        -webkit-transition: .3s;
                        -moz-transition: .3s;
                        transition: .3s;
                        & .childrenImgBg{
                            height: 100%;
                            position: relative;
                            width: 100%;
                            & .imgBg{
                                background-image: url(../assets/img/rammus.jpg);
                                background-position: 64.1152% 29.1492%;
                                opacity: 1;
                                width: 1024.5px;
                                min-height: 40vw;
                                max-height: 650px;
                                position: relative;

                                /* position: absolute; */
                                top: 0;
                                right: 0;
                                bottom: 0;
                                left: 0;
                                background-attachment: local;
                                background-color: #0a0a0c;
                                background-repeat: no-repeat;
                                /* background-size: cover; */
                                /* transition: opacity .4s ease; */
                            }
                        }
                    }
                }
                & .itemInfoContainer{
                    height: 175px;
                    width: 92%;
                    position: relative;
                    top: -100px;
                    background: #131315;
                    border: 1px solid #342b20;
                    margin: 0 auto;
                    padding-top: 20px;
                    &::before, &::after{
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 50%;
                        height: 14px;
                        width: 1px;
                        background: #342b20;
                    }
                    &::after{
                        position: absolute;
                        top: auto;
                        bottom: 0;
                        left: 24%;
                    }
                    & .itemInfoWrapper{
                        position: absolute;
                        top: 14px;
                        right: 14px;
                        bottom: 14px;
                        left: 14px;
                        border: 1px solid #342b20;
                        &::before, &::after{
                            position: absolute;
                            top: 50%;
                            left: -14px;
                            height: 1px;
                            width: 14px;
                            background: #342b20;
                            content: "";
                            font-size: 0;
                        }
                        &::after{
                            position: absolute;
                            top: auto;
                            right: -14px;
                            bottom: 12px;
                            left: auto;
                        }
                        & .itemInfo{
                            position: absolute;
                            top: 22px;
                            right: 22px;
                            bottom: 22px;
                            left: 22px;
                            border: 1px solid #c4b998;
                            & .exploreChamp{
                                height: 98px;
                                width: 27%;
                                float: left;
                                line-height: 95px;
                                font-weight: 500;
                                font-size: 15px;
                                color: #b59758;
                                display: block;
                                letter-spacing: 4px;
                                text-align: center;
                                text-transform: uppercase;
                                &:hover .title{
                                    color: #d3c7aa;
                                }
                                &:hover .title.arrorBtn.hoverArrow{
                                    -webkit-transform: translateX(50%);
                                    -moz-transform: translateX(50%);
                                    -ms-transform: translateX(50%);
                                    -o-transform: translateX(50%);
                                    transform: translateX(50%);
                                    -webkit-transition-delay: .22s;
                                    -moz-transition-delay: .22s;
                                    transition-delay: .22s;
                                    opacity: 1;
                                }
                                &:hover .title.arrorBtn.restArrow{
                                    -webkit-transform: translateX(230%);
                                    -moz-transform: translateX(230%);
                                    -ms-transform: translateX(230%);
                                    -o-transform: translateX(230%);
                                    transform: translateX(230%);
                                    -webkit-transition-delay: 0s;
                                    -moz-transition-delay: 0s;
                                    transition-delay: 0s;
                                    opacity: 0;
                                }
                                
                                & .title{
                                    
                                    -moz-transition: .2s;
                                    transition: .2s;
                                    display: inline-block;
                                    
                                    & .arrowBtn{
                                        width: 34px;
                                        height: 17px;
                                        position: relative;
                                        display: inline-block;
                                        cursor: pointer;
                                        line-height: 1;
                                        top: 2px;
                                        & .hoverArrow, & .restArrow{
                                            -webkit-transition: .44s;
                                            -moz-transition: .44s;
                                            transition: .44s;
                                            opacity: 0;
                                            position: absolute;
                                            top: 0;
                                            left: 0;
                                            -webkit-transform: translateX(-130%);
                                            -moz-transform: translateX(-130%);
                                            -ms-transform: translateX(-130%);
                                            -o-transform: translateX(-130%);
                                            transform: translateX(-130%);
                                        }
                                        & .restArrow{
                                            left: 0;
                                            -webkit-transition-delay: .22s;
                                            -moz-transition-delay: .22s;
                                            transition-delay: .22s;
                                            opacity: 1;
                                            -webkit-transform: translateX(50%);
                                            -moz-transform: translateX(50%);
                                            -ms-transform: translateX(50%);
                                            -o-transform: translateX(50%);
                                            transform: translateX(50%);
                                        }
                                        
                                    }
                                    
                                }
                                &:hover .title .arrowBtn .hoverArrow{
                                    -webkit-transform: translateX(50%);
                                    -moz-transform: translateX(50%);
                                    -ms-transform: translateX(50%);
                                    -o-transform: translateX(50%);
                                    transform: translateX(50%);
                                    -webkit-transition-delay: .22s;
                                    -moz-transition-delay: .22s;
                                    transition-delay: .22s;
                                    opacity: 1;
                                }
                                &:hover .title .arrowBtn .restArrow{
                                    -webkit-transform: translateX(230%);
                                    -moz-transform: translateX(230%);
                                    -ms-transform: translateX(230%);
                                    -o-transform: translateX(230%);
                                    transform: translateX(230%);
                                    -webkit-transition-delay: 0s;
                                    -moz-transition-delay: 0s;
                                    transition-delay: 0s;
                                    opacity: 0;
                                }
                            }
                            & .infoType{
                                /* display: -webkit-flex;
                                display: -moz-flex;
                                display: -ms-flexbox; */
                                display: flex;
                                height: 98px;
                                width: 13%;
                                border-right: 1px solid #c4b998;
                                float: left;
                                & img{
                                    height: auto;
                                    margin: auto;
                                    max-height: 70%;
                                    width: auto;
                                }
                            }
                            & .champTitle{
                                width: 39%;
                                font-weight: 500;
                                font-size: 38px;
                                height: 98px;
                                border-right: 1px solid #c4b998;
                                color: #d3c7aa;
                                float: left;
                                letter-spacing: .14em;
                                line-height: 94px;
                                text-align: center;
                                text-transform: uppercase;
                            }
                            & .roleAndArea{
                                height: 98px;
                                width: 21%;
                                border-right: 1px solid #c4b998;
                                float: left;
                                
                                & li{
                                    display: flex;
                                    -webkit-box-pack: center;
                                    -moz-box-pack: center;
                                    box-pack: center;
                                    -webkit-justify-content: center;
                                    -moz-justify-content: center;
                                    -ms-justify-content: center;
                                    -o-justify-content: center;
                                    justify-content: center;
                                    -ms-flex-pack: center;
                                    -webkit-box-align: center;
                                    -moz-box-align: center;
                                    box-align: center;
                                    -webkit-align-items: center;
                                    -moz-align-items: center;
                                    -ms-align-items: center;
                                    -o-align-items: center;
                                    align-items: center;
                                    -ms-flex-align: center;
                                    color: #d3c7aa;
                                    font-size: 11px;
                                    height: 49px;
                                    letter-spacing: .2em;
                                    padding-left: 5px;
                                    padding-right: 5px;
                                    text-align: center;
                                    text-transform: uppercase;
                                    &:nth-child(1){
                                        border-bottom: 1px solid #c4b998 ;
                                    }
                                    & dl{
                                        font-weight: 700;
                                        display: block;
                                        margin: auto;
                                        max-width: 100%;
                                        & dt{
                                            display: inline-block;
                                            &::after{
                                                content: ":";
                                                padding: 0 5px;
                                            }
                                        }
                                        & dd{
                                            display: inline-block;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@keyframes imageSetIn {
    0% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    1% {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
    }
    60% {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
    }
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}
/* ------------------------------CONTENT END */